@import './vars';

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.primary-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: $--hospital-green;
    border-radius: 8px;
    border: none;
    color: $--white;
    width: 100%;
    cursor: pointer;
    font-size: $--md;
    font-weight: bold;
    height: 50px;

    a {
        text-decoration: none;
        color: $--white;
        font-size: $--md;
        font-weight: bold;
    }

    &:hover {
        background-color: $--active-green;
    }
}

.login-button {
    margin-top: 14px;
    margin-bottom: 30px;
}